﻿@model AvsSchoolMvc.Models.DB.MS_SCHOOL_TOPPER

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage2.cshtml";
}


<main class="main-content page-content">
    <div class="main-content-container d-flex">


        <div class="width-100">
            <div class="form-wrp">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="col-md-12 form-row">
                        <fieldset>
                            <legend>Create Topper Details</legend>


                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.NAME, "Student Name", new { @class = "control-label" })

                                @Html.EditorFor(model => model.NAME)
                                @Html.ValidationMessageFor(model => model.NAME)

                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.YEAR, "Year", new { @class = "control-label" })

                                @Html.EditorFor(model => model.YEAR)
                                @Html.ValidationMessageFor(model => model.YEAR)

                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.MARKS, "Marks out of 500", new { @class = "control-label" })

                                @Html.EditorFor(model => model.MARKS)
                                @Html.ValidationMessageFor(model => model.MARKS)

                            </div>
                            
                            @*<div class="editor-label">
            @Html.LabelFor(model => model.RES_STATUS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RES_STATUS)
            @Html.ValidationMessageFor(model => model.RES_STATUS)
        </div>*@

                            <p>
                                <input type="submit" value="Create" />

                            </p>
                        </fieldset>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>

            </div>
        </div>
    </div>
</main>


