﻿@model AvsSchoolMvc.Models.DB.MS_SCHOOL_TOPPER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage2.cshtml";
}


<main class="main-content page-content">
    <div class="main-content-container d-flex">


        <div class="width-100">
            <div class="form-wrp">
                @using (Html.BeginForm())
                {
                    <div class="col-md-12 form-row">
                        <fieldset>
                            <legend>Topper Details</legend>



                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.NAME, "Student Name", new { @class = "control-label" })
                                <p class="convert-label">
                                    @Html.DisplayFor(model => model.NAME)
                                </p>
                                @Html.ValidationMessageFor(model => model.NAME)

                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.YEAR, "Year", new { @class = "control-label" })
                                <p class="convert-label">
                                    @Html.DisplayFor(model => model.YEAR)
                                </p>
                                @Html.ValidationMessageFor(model => model.YEAR)

                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(model => model.MARKS, "Marks out of 500", new { @class = "control-label" })
                                <p class="convert-label">
                                    @Html.DisplayFor(model => model.MARKS)
                                </p>
                                @Html.ValidationMessageFor(model => model.MARKS)

                            </div>


                            @*<div class="display-label">
                                    @Html.DisplayNameFor(model => model.RES_STATUS)
                                </div>
                                <div class="display-field">
                                    @Html.DisplayFor(model => model.RES_STATUS)
                                </div>*@
                        </fieldset>

                    </div>
                }
                <p>

                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</main>
