﻿@model IEnumerable<AvsSchoolMvc.Models.DB.MS_SCHOOL_TOPPER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage2.cshtml";
}


<main class="main-content page-content">
    <div class="main-content-container d-flex">

        <div class="width-100">
            <div class="form-wrp">
                <div class="table-title">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn create-btn btn-sm btn-rounded" })
                    <p>List of School Toppers</p>
                </div>
                <div class="table-responsive form-row">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Student Name
                                </th>
                                <th>
                                    Academic year
                                </th>
                                <th>
                                    Marks
                                </th>
                                

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NAME)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.YEAR)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MARKS)
                                    </td>
                                   <td class="text-center td-view">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.SCL_TOP_ID }, new { @class = "btn edit-btn btn-sm btn-rounded" }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.SCL_TOP_ID }, new { @class = "btn edit-btn btn-sm btn-rounded" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.SCL_TOP_ID }, new { @class = "btn edit-btn btn-sm btn-rounded" })
                                    </td>
                                </tr>
                            }

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>