﻿@model AvsSchoolMvc.Models.DB.MS_NEWS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutPage2.cshtml";
}


<main class="main-content page-content">
    <div class="main-content-container d-flex">
        
        <div class="width-100">
            <div class="form-wrp">
                @using (Html.BeginForm("Edit", "News", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                <div class="col-md-12 form-row">
                    <fieldset>
                        <legend>Edit News</legend>

                        @Html.HiddenFor(model => model.NEWS_ID)


                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.TITLE, "Title", new { @class = "control-label" })

                            @Html.EditorFor(model => model.TITLE)
                            @Html.ValidationMessageFor(model => model.TITLE)

                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DESCRIP, "Description", new { @class = "control-label" })

                            @Html.EditorFor(model => model.DESCRIP)
                            @Html.ValidationMessageFor(model => model.DESCRIP)

                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.NEWS_IMAGE, "Image", new { @class = "control-label" })

                            <a href="@Url.Content(Model.NEWS_IMAGE)" target="_blank" class="view-doc-btn">View</a>
                            <input type="file" id="ImageFile" name="ImageFile" />
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.NEWS_DATE, "News Date", new { @class = "datepicker" })

                            @Html.TextBoxFor(model => model.NEWS_DATE, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => model.NEWS_DATE)

                        </div>


                        @*<div class="editor-label">
            @Html.LabelFor(model => model.RES_STATUS)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RES_STATUS)
            @Html.ValidationMessageFor(model => model.RES_STATUS)
        </div>*@

                        <p>
                            <input type="submit" value="Save" />
                        </p>
                    </fieldset>
                </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
    </div>
</main>


