﻿@{ 
    var objHead = Request.Url.ToString().ToLower().Contains("avs/") ? "header-1" : "header";
	//ViewBag.ALink = "About";
}
<!DOCTYPE html>

<html>
<head>
	<title>AVS High School | Higher Secondary School in Puliyangudi, Thirunelveli</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="AVS High School" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../../css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../css/owl.theme.css" type="text/css" media="all">
	<link href="../../css/font-awesome.css" rel="stylesheet">
	@*<link rel="stylesheet" href="css/lightbox.css">*@
	<link href="~/css/lightbox.css" rel="stylesheet" />
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">

	<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>

</head>
<body>
<!-- header -->
	<div class="@objHead">@*header-1">*@
		<div class="agileits_top_menu">
			<div class="w3l_header_left">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i> +462 293410</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@avshighschool.com</a></li>
					</ul>
				</div>
				<div class="w3l_header_right">
					<div class="w3ls-social-icons text-left">
						<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
						<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
						<a class="pinterest" href="#"><i class="fa fa-pinterest-p"></i></a>
						<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="content white agile-info">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container" style="width:95%">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
							<a class="navbar-brand" href="@Url.Action("Index", "Home")">
								<h1>
									@*<span class="fa fa-book" aria-hidden="true"></span>*@									 
									<img style="width:40px" src="~/images/img/logo/logo.JPG" />
									AVS HIGH SCHOOL <label>Education</label>
								</h1>
							</a>
						</div>
						<!--/.navbar-header-->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav class="link-effect-2" id="link-effect-2">
								<ul class="nav navbar-nav">
									<li class="@(ViewBag.ALink == "Home" ? "active" : "")"><a href="@Url.Action("Index", "Home")" class="effect-3">Home</a></li>
									<li class="@(ViewBag.ALink == "About" ? "active" : "")"><a href="@Url.Action("AboutUs", "Avs")" class="effect-3">About Us</a></li>
									<li class="@(ViewBag.ALink == "Apply" ? "active" : "")"><a href="@Url.Action("ApplyForAdmission", "Avs")" class="effect-3">Apply for Addmission</a></li>
									<li class="dropdown @(ViewBag.ALink == "Press" ? "active" : "")">
										<a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Press<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="@Url.Action("GalleryList", "Avs")">Gallery</a></li>
											<li><a href="@Url.Action("NewsList", "Avs")">News</a></li>
										</ul>
									</li>
									<li class="dropdown @(ViewBag.ALink == "Academic" ? "active" : "")">
										<a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Academics<b class="caret"></b></a>
										<ul class="dropdown-menu">
											<li><a href="@Url.Action("Academics", "Avs")">Academics</a></li>
											<li><a href="@Url.Action("Achievements", "Avs")">Achievements</a></li>
											<li><a href="@Url.Action("Facilities", "Avs")">Facilities</a></li>
										</ul>
									</li>
									@*<li><a href="gallery.html" class="effect-3">Gallery</a></li>*@
									@*<li><a href="gallery.html" class="effect-3">Facilities</a></li>
									<li><a href="gallery.html" class="effect-3">Achievements</a></li>
									<li><a href="gallery.html" class="effect-3">Academics</a></li>*@
									@*<li><a href="gallery.html" class="effect-3">News</a></li>*@
									@*<li class="dropdown">
				<a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">Pages <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="codes.html">Codes</a></li>
					<li><a href="icons.html">Icons</a></li>
				</ul>
			</li>*@
									<li class="@(ViewBag.ALink == "Contact" ? "active" : "")"><a href="@Url.Action("Contact", "Avs")" class="effect-3">Contact</a></li>
									@*<li><a href="@Url.Action("Result", "Home")" class="effect-3">Result 2019</a></li>*@
								</ul>
							</nav>
						</div>
						<!--/.navbar-collapse-->
						<!--/.navbar-->
					</div>
				</nav>
			</div>
		</div>
    <div>

        @RenderBody()
    </div>

    <!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid" style="display:none">
				<h3>About Us</h3>
				<p>
					Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
					eros.
				</p>
			</div>
			<div class="col-md-4 footer_grid" style="display:none">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li>
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque vulputate </a>
					</li>
					<li>
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li>
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
					<li>
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Dolor amet sed quam vitae</a>
					</li>
					<li>
						<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="#" data-toggle="modal" data-target="#myModal">Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>

			<div class="col-md-6 footer_grid" >
				<h3>Admission Form</h3>
				<p>
					To download the application form <a style="text-decoration:underline;color:sandybrown" href="~/Files/Avs School Application Form.pdf" target="_blank"> Click Here</a> Documents required along with the filled in application form
				</p>
			</div>
			<div class="col-md-6 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>69, North Car Street, PULIANGUDI 627855, Kadayanallur Taluk, Tenkasi District, Tamilnadu.</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@avshighschool.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>04636 – 290654</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids" style="display:none;">
				<div class="col-md-4 footer_grid_left">
					<h3>Sign up for our Newsletter</h3>
				</div>
				<div class="col-md-8 footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">
					<div class="footer_bottom1">
						<p>© 2020 Avs High School. All rights reserved | Developed by <a href="https://drizzlingapp.com">Drizzling App</a></p>
					</div>
		</div>
	</div>
	<!-- //footer -->

    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	
	<script type="text/javascript" src="../../js/bootstrap.js"></script>
	<!-- stats -->
	<script src="../../js/jquery.waypoints.min.js"></script>
	<script src="../../js/jquery.countup.js"></script>
	<script>
	    $('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- owl carousel -->
	<script src="../../js/owl.carousel.js"></script>
	<script>
	    $(document).ready(function () {
	        $("#owl-demo").owlCarousel({

	            autoPlay: 3000, //Set AutoPlay to 3 seconds
	            autoPlay: true,
	            items: 3,
	            itemsDesktop: [991, 2],
	            itemsDesktopSmall: [414, 4]

	        });
	    }); 
	</script>
	<!-- //owl carousel -->

</body>
</html>
