﻿@model AVSMvc.Models.DB.MS_GALLARY

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage2.cshtml";
}


<main class="main-content page-content">
    <div class="main-content-container d-flex">


        <div class="width-100">
            <div class="form-wrp">
                @using (Html.BeginForm("Create", "Gallary", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                <div class="col-md-12 form-row">
                    <fieldset>
                        <legend>Create Gallary</legend>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.GAL_IMAGE, "Image", new { @class = "control-label" })
                            <input type="file" id="ImageFile" name="ImageFile" required />

                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DESCRIP, "Description", new { @class = "control-label" })

                            @Html.EditorFor(model => model.DESCRIP)
                            @Html.ValidationMessageFor(model => model.DESCRIP)

                        </div>

                        @*<div class="editor-label">
                @Html.LabelFor(model => model.RES_STATUS)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.RES_STATUS)
                @Html.ValidationMessageFor(model => model.RES_STATUS)
            </div>*@

                        <p>
                            <input type="submit" value="Create" />
                        </p>
                    </fieldset>
                </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
    </div>
</main>

