﻿@{
    ViewBag.Title = "AdminPortal";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<h3 class="heading-agileinfo">Publish Result<span>When Climbing The Carrer Ladder</span></h3>
			<div class="inner_sec_grids_info_w3ls">								
				<div class="w3layouts_mail_grid">
					<form action="@Url.Action("UploadFile","Home")" method="post" enctype="multipart/form-data">
						<div class="col-md-6 wthree_contact_left_grid">							
							<input type="file" name="file" id="file"  required="">

                            <input type="submit" value="Submit">
						</div>						
						<div class="clearfix"> </div>

					</form>
				</div>
			</div>

		</div>
	</div>
	<!-- //mid-services -->
	<!-- /map -->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387142.84010033106!2d-74.25819252532891!3d40.70583163828471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1475140387172"
		    style="border:0"></iframe>

	</div>

    @Html.Raw(TempData["msg"]);
	<!-- //map -->
