﻿@model AvsSchoolMvc.Models.ResultModel

<html>
<head>
	<title>AVS High School, Puliyangudi.</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="AVS High School" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../../css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../css/owl.theme.css" type="text/css" media="all">
	<link href="../../css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">

		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>

</head>
<body>
<div class="col-md-12">

<table class="table table-bordered table-hover">
                            <thead align="center">
                                <tr style="text-align:center;">
                                    <th colspan="2" style="text-align:center;"><img src="../../images/img/logo.jpg" /> <br /> AVS High School - Puliyangudi. </th>
                                </tr>
                                <tr style="text-align:center;">
                                    <th colspan="2" style="text-align:center;">Annual Result - @Model.YEAR</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Reg No</td>
                                    <td><span class="badge">@Model.RegNo</span></td>
                                </tr>
                                <tr>
                                    <td><code>Name</code></td>
                                    <td><span class="badge badge-primary">@Model.NAME</span></td>
                                </tr>
                                <tr>
                                    <td><code>Class</code></td>
                                    <td><span class="badge badge-success">@Model.CLASS</span></td>
                                </tr>
                                <tr>
                                    <td><code>Attendance</code></td>
                                    <td><span class="badge badge-info">@Model.ATTENDANCE (Out of 204.5 days)</span></td>
                                </tr>
                                <tr>
                                <td colspan="2">Grade Obtained</td>
                                </tr>
                                <tr>
                                    <td><code>Tamil</code></td>
                                    <td><span class="badge badge-warning">@Model.GTamil</span></td>
                                </tr>
                                <tr>
                                    <td><code>English</code></td>
                                    <td><span class="badge badge-warning">@Model.GEnglish</span></td>
                                </tr>
                                <tr>
                                    <td><code>Maths</code></td>
                                    <td><span class="badge badge-warning">@Model.GMaths</span></td>
                                </tr>
                                <tr>
                                    <td><code>Science</code></td>
                                    <td><span class="badge badge-warning">@Model.GScience</span></td>
                                </tr>
                                <tr>
                                    <td><code>Social Science</code></td>
                                    <td><span class="badge badge-warning">@Model.GSocial</span></td>
                                </tr>
                                <tr>
                                    <td><code>Result</code></td>
                                    <td><span class="badge badge-warning">@Model.Result</span></td>
                                </tr>
                                <tr>
                                <td colspan="2">
                                <p class="pull-left">Result Date - @Model.ResultDate</p>
                                <div class="pull-right">
                                <img style="height:80px;" src="../../images/img/sign.jpg" /><br />
                                <p class="pull-right">Head Master</p>
                                </div>
                                </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="clearfix"></div>

                        <p> Ths is a computer generated mark statement only.</p><br />
                        <p> Grade Marks - A1 91 - 100 | A2 - 81 - 90 | B1 - 71 - 80 | B2 - 61 - 70 | C1 - 51 - 60 | C2 - 41 - 50 | D 33 - 40 | E1 - 21 - 32 | E2 Below 20</p>
</div>
</body>
</html>