﻿@{
    ViewBag.Title = "getTopperList";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- SchoolTopper -->
<div class="feedback section-w3ls about-w3ls" id="achievements">
    <div class="feedback-agileinfo">
        <div class="container">
            <h3 class="heading-agileinfo">Achievements<span class="ttt">SSLC Toppers</span></h3>
            <div class="agileits-feedback-grids">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    @foreach (var item in ViewBag.topperdata)
                    {
                        <div class="item">
                            <div class="feedback-info">
                                <div class="feedback-top">
                                    <p>@item.YEAR</p>
                                </div>
                                <div class="feedback-grids">
                                    <div class="feedback-img-info">
                                        <h5>@item.NAME</h5>
                                        <p>@item.MARKS</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
            
        </div>
    </div>
</div>
<!-- //SchoolTopper -->