﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";

}
<head>
    <style>
        html, body {
            height: 100%;
        }

        img.one {
            height: auto;
            width: auto;
        }

        img.img-responsive {
            height: 200px;
            width: 400px;
        }
    </style>
</head>


<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3> <span></span></h3>
                    <p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="@Url.Action("Result","Home")">Result 2019 »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3><span></span></h3>
                    <p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="@Url.Action("Result","Home")">Result 2019 »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3> <span></span></h3>
                    <p>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects</p>
                    <div class="agileits-button top_ban_agile">
                        <a class="btn btn-primary btn-lg" href="@Url.Action("Result","Home")">Result 2019 »</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!-- about -->
<div class="agile-about w3ls-section text-center" id="about">
    <div class="container">
        <h3 class="heading-agileinfo">About Us<span></span></h3>
        <div class="agileits-about-grid">
            @*<p style="color:black">Avs High School, Puliyangudi.</p><br/>*@
            <h4 style="color:#ff4f81">Vision</h4>
            <p>
                “To strive for excellence in imparting value based education with well-defined focus on
                academic and social relevance challenges by the competitive environment”
            </p><br />
            <h4 style="color:#ff4f81">Mission<span></span></h4>
            <p>
                “We are dedicated and committed to assure learning experiences that will assist our
                students to achieve their greatest potential to adapt and adjust in ever changing society”
            </p><br />
            <h4 style="color:#ff4f81">Affiliation</h4>
            <p>
                School is recognised and affiliated to the State board of school Education, Tamilnadu.
            </p>

        </div>
    </div>
</div>
<!-- //about -->

<!-- about-bottom -->
<div class="agileits-about-btm" style="display:none;">
    <div class="container">
        <div class="w3-flex">
            <div class="col-md-4 col-sm-4 col-xs-12 ab1 agileits-about-grid1">
                <span class="fa fa-desktop" aria-hidden="true"></span>
                <h4 class="agileinfo-head">Primary School</h4>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Course 2</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Course 3</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
            </div>
            <div class="col-md-4 col-sm-4 ab1 agileits-about-grid2">
                <span class="fa fa-arrows  wthree-title-list" aria-hidden="true"></span>
                <h4 class="agileinfo-head">SSLC Course</h4>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
            </div>
            <div class="col-md-4 col-sm-4 ab1 agileits-about-grid3">
                <span class="fa fa-bar-chart  wthree-title-list" aria-hidden="true"></span>
                <h4 class="agileinfo-head">Higher Secondary Course</h4>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
                <h5>Course 1</h5>
                <p>Ncididunt ut labore et t enim ad minim.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about-bottom -->
<!-- gallary -->
<div id="lab" class="w3ls-section gallery">
    <div class="container">
        <h3 class="heading-agileinfo">Gallery<span>When Climbing The Carrer Ladder</span></h3>
        <div class="gallery-grids">
            @foreach (var item in ViewBag.galdata)
            {
                <div class="col-sm-4 col-xs-6 gallery-grid">
                    <div class="grid effect-apollo" style="border: pink 2px solid;">
                        <a class="example-image-link" href="@item.GAL_IMAGE" data-lightbox="example-set" data-title="@item.DESCRIP">
                            <img src="@item.GAL_IMAGE" alt="" />
                            <div class="figcaption">
                                <p>@item.DESCRIP</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>
        </div>        
        <script src="~/js/lightbox-plus-jquery.min.js"></script>
    </div>
</div>
<!-- //gallary -->
<!-- facilities -->

<div class="news">

    <div class="container">
        <h2 class="heading-agileinfo">Facilities<span></span></h2>

        <div class="news-agileinfo">
            <div class="news-w3row">
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/infrastructure.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Infrastructure</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids news-grids-mdl">
                    <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                        <img src="~/images/img/facilities/library.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Library</a></h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/canteen.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Canteen</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="clearfix"> </div>
            </div>

        </div>


        <div class="col-lg-offset-10">
            <a href="@Url.Action("Facilityist", "Avs")" class="effect-3">View All Facilities</a>
        </div>
    </div>

</div>
<!-- //facilities -->
<!-- SchoolTopper -->
<div class="feedback section-w3ls about-w3ls" id="achievements">
    <div class="feedback-agileinfo">
        <div class="container">
            <h3 class="heading-agileinfo">Achievements<span class="ttt">SSLC Toppers</span></h3>
            <div class="agileits-feedback-grids">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    @foreach (var item in ViewBag.topperdata)
                    {
                        <div class="item">
                            <div class="feedback-info">
                                <div class="feedback-top">
                                    <p>@item.YEAR</p>
                                </div>
                                <div class="feedback-grids">
                                    <div class="feedback-img-info">
                                        <h5>@item.NAME</h5>
                                        <p>@item.MARKS</p>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                
            </div>
            <div class="col-lg-offset-10">
                <a style="color:lightpink" href="@Url.Action("Achievements", "Avs")" class="effect-3">View Topper List</a>
            </div>
        </div>
    </div>
</div>
<!-- //SchoolTopper -->
<!-- stats -->
<div class="stats bgoverlay">
    <div class="container">
        <h3 class="heading-agileinfo">Our Stats<span class="ttt">When Climbing The Career Ladder </span></h3>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid">
            <span class="fa fa-graduation-cap" aria-hidden="true"></span>
            <h3>Management Staffs</h3>
            <p class="counter">45</p>

        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
            <span class="fa fa-user" aria-hidden="true"></span>
            <h3>Certified Staff</h3>
            <p class="counter">165</p>

        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
            <span class="fa fa-users" aria-hidden="true"></span>
            <h3>Student</h3>
            <p class="counter">563</p>

        </div>
        <div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
            <span class="fa fa-trophy" aria-hidden="true"></span>
            <h3>Awards</h3>
            <p class="counter">245</p>

        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //stats -->
<!-- services -->
<div class="services">
    <h3 class="heading-agileinfo">What we offer<span>When Climbing The Career Ladder </span></h3>
    <div class="container">
        <div class="services-top-grids">
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    <h4>SSLC Course</h4>
                    @*<p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <h4>Professional Study</h4>
                    @*<p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    <h4>Programs</h4>
                    @*<p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="services-bottom-grids">
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>
                    <h4>Online Learning</h4>
                    @*<p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                    <h4>Summer Session</h4>
                    @*<p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid1">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <h4>Global Education</h4>
                    @*<p>Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //services -->
<!-- feedback -->
<div class="feedback section-w3ls about-w3ls" id="testimonials" style="display:none">
    <div class="feedback-agileinfo">
        <div class="container">
            <h3 class="heading-agileinfo">Testimonials<span class="ttt">When Climbing The Carrer Ladder </span></h3>
            <div class="agileits-feedback-grids">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Nice Environment to learn more. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../../images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>John Peter</h5>
                                    <p>Sales Head, Zain Telecom</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Nice Environment to learn more. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../../images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>John Peter</h5>
                                    <p>Sales Head, Zain Telecom</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Nice Environment to learn more. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../../images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>John Peter</h5>
                                    <p>Sales Head, Zain Telecom</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Nice Environment to learn more. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../../images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>John Peter</h5>
                                    <p>Sales Head, Zain Telecom</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Nice Environment to learn more. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../../images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>John Peter</h5>
                                    <p>Sales Head, Zain Telecom</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="feedback-info">
                            <div class="feedback-top">
                                <p>Nice Environment to learn more. </p>
                            </div>
                            <div class="feedback-grids">
                                <div class="feedback-img">
                                    <img src="../../images/test1.jpg" alt="" />
                                </div>
                                <div class="feedback-img-info">
                                    <h5>John Peter</h5>
                                    <p>Sales Head, Zain Telecom</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //feedback -->
<!-- news -->

<div class="news">
    <div class="container">
        <h2 class="heading-agileinfo">News & Events</h2>
        @foreach (var item in ViewBag.data)
        {
            int i = 2;

            <div class="news-agileinfo">
                <div class="news-w3row">
                    @if (i % 2 == 0)
                    {

                        <div class="wthree-news-grids">
                            <div class="col-md-5 col-xs-5 datew3-agileits">
                                <img src="@item.NEWS_IMAGE" class="img-responsive" height="400" width="400" alt="" />
                            </div>
                            <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                                <h5><a href="#" data-toggle="modal" data-target="#myModal">@item.TITLE</a></h5>
                                <h6>@item.NEWS_DATE.ToString("dd/MM/yyyy")</h6>
                                <p>@item.DESCRIP</p>
                            </div>

                            <div class="clearfix"> </div>
                        </div>

                    }
                    @if (i % 2 == 1)
                    {
                        <div class="wthree-news-grids news-grids-mdl">
                            <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                                <img src="@item.NEWS_IMAGE" class="img-responsive" height="400" width="400" alt="" />
                            </div>
                            <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                                <h5><a href="#" data-toggle="modal" data-target="#myModal">@item.TITLE</a></h5>
                                <h6>@item.NEWS_DATE.ToString("dd/MM/yyyy")</h6>
                                <p>@item.DESCRIP</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }

                    <div class="clearfix"> </div>
                </div>

            </div>

            @*@i= i + 1;*@

        }

        <div class="col-lg-offset-10">
            <a href="@Url.Action("NewsList", "Avs")" class="effect-3">View All News</a>
        </div>
    </div>

</div>
<!-- //news -->
