﻿@{
    ViewBag.Title = "Result";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<h3 class="heading-agileinfo">Know your Result<span>Success is a Journey !!</span></h3>
			<div class="inner_sec_grids_info_w3ls">								
				<div class="w3layouts_mail_grid">
					<form action="" method="post" enctype="multipart/form-data">
						<div class="col-md-12 wthree_contact_left_grid">							
                        <div class="col-md-6">
							<input type="text" class="col-md-6" name="Uname" id="txtRoll" placeholder="Roll Number" required="">
                            </div>
                            <div class="col-md-6">
                            <input type="button" class="btn btn-info" id="btnRes" value="Get Result">
                            </div>
						</div>
                        <br />
                        <p>*Result has been published for Standards from 6th to 9th. The students, those  who didnt receive the result are requested to meet the Head Master with their Parents on 4th May 2019.</p>
                        <br />
                        <p>*Please enable Pop Up Display .....</p>
                        @*<input type="button" class="btn btn-info" id="btnPrint" value="Print">*@
					</form>
				</div>
			</div>
            <div class="clearfix"></div>
            <div class ="col-md-12">
            
            </div>
            <div id="dvProductDetails" >  </div> 
            
		</div>
	</div>
	<!-- //mid-services -->	

    @Html.Raw(TempData["msg"]);

    <script type="text/javascript">
        $("#btnRes").click(function () {
            $.ajax({
                url: '/Home/GetResultDetails/' + $("#txtRoll").val(),
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'
            })
            .success(function (result) {
                //$('#dvProductDetails').html(result);
                $("#txtRoll").val('');
                var printWin = window.open('', '', 'height=800,width=1000');
                //printWin.document.write('<html><head><title>AVS</title>');
                //printWin.document.write('</head><body >');
                printWin.document.write(result);
                //printWin.document.write('</body></html>');
                printWin.document.close();
                printWin.print();
            })
            .error(function (xhr, status) {
                console.log(xhr);
                alert(status);
            });
        });

        $("#btnPrint").click(function () {
            var divdata = document.getElementById("dvProductDetails").innerHTML;
            //var printWin = window.open('', '', 'height=400,width=400');
            //printWin.document.write('<html><head><title>AVS</title>');
            //printWin.document.write('</head><body >');
            //printWin.document.write(divdata);
            //printWin.document.write('</body></html>');
            //printWin.document.close();
            //printWin.print();            
            //divdata.print();
        });
        
</script>  
