﻿@model AvsSchoolMvc.Models.DB.MS_GALLARY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<main class="main-content page-content">
    <div class="main-content-container d-flex">


        <div class="width-100">
            <div class="form-wrp">
                @using (Html.BeginForm())
                {
                <div class="col-md-12 form-row">
                    <fieldset>
                        <legend>Gallary Details</legend>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.GAL_IMAGE, "Image", new { @class = "control-label" })
                            
                            <a href="@Url.Content(Model.GAL_IMAGE)" target="_blank" class="view-doc-btn">View</a>
                        </div>

                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.DESCRIP, "Description", new { @class = "control-label" })
                            <p class="convert-label">
                                @Html.DisplayFor(model => model.DESCRIP)
                            </p>
                            @Html.ValidationMessageFor(model => model.DESCRIP)

                        </div>

                        @*<div class="display-label">
                @Html.DisplayNameFor(model => model.RES_STATUS)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.RES_STATUS)
            </div>*@
                    </fieldset>
                </div>
                        }
                        <p>

                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                </div>
            </div>
    </main>>
