﻿@model IEnumerable<AvsSchoolMvc.Models.DB.MS_GALLARY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<main class="main-content page-content">
    <div class="main-content-container d-flex">

        <div class="width-100">
            <div class="form-wrp">
                <div class="table-title">
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn create-btn btn-sm btn-rounded" })
                    <p>List of Gallary</p>
                </div>
                <div class="table-responsive form-row">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Description
                                </th>

                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@Url.Content(item.GAL_IMAGE)" class="img-responsive" height="100" width="100" alt="" />
                                       
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DESCRIP)
                                    </td>

                                    <td class="text-center td-view">
                                        @Html.ActionLink("Edit", "Edit", new { id = item.GAL_ID }, new { @class = "btn edit-btn btn-sm btn-rounded" }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.GAL_ID }, new { @class = "btn edit-btn btn-sm btn-rounded" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.GAL_ID }, new { @class = "btn edit-btn btn-sm btn-rounded" })
                                    </td>
                                </tr>
                            }

                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
