﻿
@{
    ViewBag.Title = "AVS School | About Us";
    Layout = "~/Views/_LayoutPage1.cshtml";    
}
    <style type="text/css">

        @@font-face {
            font-family: 'Bamini'; /*'SunTommy'*/
            src: url('../../fonts/Bamini.ttf') format('truetype');
        }

    </style>
<!-- about -->
<div class="welcome">
    <div class="container">
        <h3 class="heading-agileinfo">About Us<span></span></h3>
        <div class="w3ls_news_grids">
            <div class="col-md-12 w3_agile_about_grid_left">
                @*<h3>AVS High School, Puliyangudi</h3>*@
                <p>
                    <i>
                        இந்திய தேசத்தின் தென் கோடியில் அமையப்பெற்றுள்ள தமிழகத்தின் தென்காசி மாவட்டம்
                        புளியங்குடி என்னும் நகரின் மையப் பகுதியில் 1910ம் ஆண்டு திரு ஏ.வி.ஸ்டீபன் வேதமுத்து
                        என்பாரால் திண்ணைப் பள்ளியாக ஒரு சில மாணவர்களுடன் துவக்கப்பட்டது இப்பள்ளி.
                        <br /><br />
                        1919 ம் ஆண்டு அப்போதைய ஆங்கிலேயப் பேரரசால் ஏ.வி.எஸ். துவக்கப்பள்ளியாக <span style="font-family:Arial">
                            (I to V Std)
                        </span> இப்பள்ளி அங்கீகரிக்கப்பட்டது.
                        <br /><br />
                        ஏழை பணக்காரர் ஜாதி இன மதம் என்று எந்த பாகுபாடுமின்றி எல்லாக்
                        குழந்தைகளையும் அரவணைத்து கல்வி கொடுக்கும் ஸதாபனமாக பரந்து விரிந்தது.
                        <br /><br />
                        1965ம் ஆண்டு அப்போதைய மாண்புமிகு தமிழக முதல் அமைச்சர் திரு காமராஜ் அவர்களால்
                        நடுநிலைப்பள்ளியாக <span style="font-family:Arial">
                            (VI to VIII Std)
                        </span> தரம் உயர்த்தப்பட்டது.
                        <br /><br />
                        1991 ம் ஆண்டு இப்பள்ளி உயர்நிலைப்பள்ளியாக <span style="font-family:Arial">
                            (I to V Std)
                        </span> தரம் உயர்த்தப்பட்டது.
                        <br /><br />
                        தரம் உயர்த்தப்பட்ட நாள் முதல் தொடர்ந்து பத்தாம் வகுப்பு அரசுப் பொதுத் தேர்வில் 100
                        சதவீதத் தேர்ச்சியை பெற்று வருகின்றது.
                        <br /><br />
                        2010 ம் ஆண்டில் பத்தாம் வகுப்பு அரசு பொதுத் தேர்வில் மாநிலத்திலேயே மூன்றாம்
                        இடத்தைப் பிடித்து சாதனை புரிந்தது.
                        <br /><br />
                        தமிழ் மற்றும் ஆங்கில வழிக் கல்வி ஸமார்ட் வகுப்புகள் ஆங்கில மொழியில் பேசும் பயிற்சி
                        <span style="font-family:Arial">
                            (Spoken English)
                        </span> மற்றும் கையெழுத்துப் பயிற்சிகள் மாணவர்களுக்கு வழங்கப்பட்டு
                        வருகின்றது.
                        <br /><br />
                        மாணவர்களின் தனித்திறன்களைக் கண்டறிந்து பேச்சுக் கலை நாடகக் கலை
                        பாட்டுத்திறன் ஓவியம் கட்டுரைத் திறன் நடனக் கலை போன்றவைகளில் அவர்களின்
                        திறன்களை வளர்த்துக் கொள்ள பயிற்சிகள் வழங்கப்படுகிறது.
                        <br /><br />
                        விளையாட்டுகளில் மாணவர்கள் உற்சாகமாய் பங்கு பெற வாய்ப்பளிக்கப்படுகிறது.
                        <br /><br />
                        மகளிர் எறிபந்து விளையாட்டுப் போட்டிகளில் தனிக் கவனம் செலுத்தப்பட்டு மாணவியர்கள்
                        தேசீய அளவில் வெற்றி பெற்று பல சாதனைகள் புரிந்து வருகின்றனர்.
                        <br /><br />
                        மாணவர்கள் மகிழ்ச்சியோடு பள்ளிக்கு வருகை புரிந்து மனமகிழ்ச்சியோடும் மனநிறைவோடும்
                        முழுத் திறனோடும் திரும்பச் செய்வதே இப்பள்ளியின் அடிப்படை..
                    </i>
                </p>
            </div>
            <div class="col-md-6 w3_agile_about_grid_right" style="display:none">
                <div class="skillbar" data-percent="78">
                    <span class="skillbar-title" style="background: #f1703a;">Lorem</span>
                    <p class="skillbar-bar" style="background: #f88c5e;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->

                <div class="skillbar" data-percent="54">
                    <span class="skillbar-title" style="background: #2980b9;">Ipsum</span>
                    <p class="skillbar-bar" style="background: #3498db;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->

                <div class="skillbar" data-percent="76">
                    <span class="skillbar-title" style="background: #a0d034;">Tortor</span>
                    <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->

                <div class="skillbar" data-percent="80">
                    <span class="skillbar-title" style="background: #e7cc2c;">Odio</span>
                    <p class="skillbar-bar" style="background: #f5d410;"></p>
                    <span class="skill-bar-percent"></span>
                </div>
                <!-- End Skill Bar -->
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->

<div class="about-w3slid jarallax">
    <div class="subscribe-agileinfo">
        <div class="container">
            <h3>One of the best schools in Tirunelveli</h3>
            <p>AVS High School, Puliyangudi</p>
        </div>
    </div>
</div>
<!-- team -->
<div class="team">
    <div class="container">
        <h3 class="heading-agileinfo">Meet Our Staff<span>When Climbing The Career Ladder</span></h3>
        <div class="w3_agile_team_grids">
            <div class="col-md-6 w3_agile_team_grid">
                <div class="hover14 column">
                    <figure><img src="~/images/img/HM/correspondent.JPG" alt=" " class="img-responsive" /></figure>
                </div>
                <h3>Ms. V. Sornamani</h3>
                <p>Correspondent</p>
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 w3_agile_team_grid">
                <div class="hover14 column">
                    <figure>
                        <img src="~/images/img/HM/HM.jpg" alt=" " class="img-responsive" />
                        @*<img src="~/images/img/HM/" alt=" " class="img-responsive" />*@
                    </figure>
                </div>
                <h3>Mr.V. Arul Samuel</h3>
                <p>Head Master</p>
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            @*<div class="col-md-3 w3_agile_team_grid">
                <div class="hover14 column">
                    <figure><img src="~/images/t3.jpg" alt=" " class="img-responsive" /></figure>
                </div>
                <h3>Mr. Rajkumar</h3>
                <p>Manager</p>
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_agile_team_grid">
                <div class="hover14 column">
                    <figure><img src="~/images/t4.jpg" alt=" " class="img-responsive" /></figure>
                </div>
                <h3>Mr. Rajkumar</h3>
                <p>Accountant</p>
                <ul class="agileits_social_list">
                    <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>*@
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- team -->
