﻿
@{
    ViewBag.Title = "Academics";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<style type="text/css">
    .academ h4{
        color: #ff4f81;
    }
</style>

<!-- Academics-->
<div class="agile-about w3ls-section" id="about">
    <div class="container">
        <h3 class="heading-agileinfo">Academics<span>School Rules & Regulations</span></h3>
        <div class="agileits-about-grid">
            @*<div class="col-lg-offset-1">
            <h3>Admission:</h3>
            <p>

            </p>
        </div>
        <br />*@
            <div class="col-lg-offset-1 academ">
                <h4 >Dress and Appearance:</h4><br/>
                <ul>
                    <li>
                        Uniform must always be neat and clean. Id-card must be worn at all times.
                    </li>
                    <li>
                        Uniform is compulsory during school hours and for all school functions including all such
                        instances where students are representing the school outside.
                    </li>
                    <li>
                        Girls are not allowed to apply mehandi or nail polish on school days.
                    </li>
                    <li>
                        Ornaments in any form other than small earrings (by girls) should not be worn. It is not advisable
                        to wear gold jewellery. However for girls, a pair of small ear studs is permitted. They should not wear
                        any trinkets, chains, rings on fingers or sets of bangles.
                    </li>
                    <li>
                        Boys are not allowed to wear earrings, chains or bracelets.
                    </li>
                    <li>
                        Long hair must be double plaited, neatly folded and tied with black ribbons. It must be followed by
                        all girl students in the school campus, inside the bus and outside the school campus while
                        representing school.
                    </li>
                    <li>
                        Colouring or bleaching of hair / fancy hair cut is not permitted.
                    </li>
                    <li>
                        Boys should have their hair cut 1 inch above their ears. No fashionable or fancy hair cuts are
                        permitted.
                    </li>
                    <li>
                        Students who wear spectacles must ensure that the frame is black in colour. Coloured and/or
                        fancy frames will be confiscated.
                    </li>

                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 academ">
                <h4>School Property:</h4><br />
                <ul>
                    <li>
                        Students must take care of the school property and no student should scratch or spoil the school
                        furniture, write or draw anything on the walls or in any way damage things belonging to others.
                    </li>
                    <li>
                        Damage done even by accident should be reported at once to the class teacher.
                    </li>
                    <li>
                        Damaging or disfiguring any school property may result in suspension / expulsion from school in
                        addition to levy of heavy fine.
                    </li>
                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 academ"><br />
                <h4>Attendance:</h4><br/>
                <ul>
                    <li>
                        Students must be regular to school.
                        </li><li> The morning assembly is compulsory for all students.
                        </li><li> All students must be present in school on the first day and last day of the term.
                        </li><li> No student can leave the school premises without the permission of the Headmaster.
                    </li>
                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 academ">
                <h4>Leave of Absence:</h4><br/>
                <ul>
                    <li>
                        In all cases of absence, parents should make an entry in the Leave Record Section of the
                        student’s handbook, stating the reason for absence.
                        </li><li> Prior sanction should be sought from the Headmaster through a written application for any
                        absence exceeding 3 days.
                        </li><li> Students are advised not to be absent during exam days.
                        </li><li> Long period of absence on medical grounds should be supported by a medical certificate
                    </li>
                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 academ">
                <h4>Absence from School:</h4><br/>
                <ul>
                    <li>
                        A student who has been absent on the previous day will not be allowed to attend class unless
                        her/his parent has made an explanation stating the reasons for the absence, in the “Leave Record”
                        section of the handbook/diary for each day (valid for 2 days) the student has been absent from
                        school. In case a child reports to school without an explanation in the handbook/diary, the parents
                        will be called to school.
                    </li>
                    <li>
                        In case of absence for more than Four days on medical grounds, Medical Certificate and
                        Prescription (Photocopies) shall be attached along with application.
                    </li>
                    <li>
                        Students of those who are not well should not be sent to school even on the days of
                        assessments.
                    </li>
                    <li>
                        A student returning to school after suffering from an infectious or contagious disease should
                        produce a doctor’s fitness certificate permitting her/him to attend school. Students suffering from the
                        following diseases must observe the prescribed period of quarantine suggested by their doctors
                        before returning to school.
                    </li>
                </ul>
                <br />
                <table class="table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>
                                Chicken pox
                            </td>
                            <td>
                                Till the scabs fall completely
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cholera
                            </td>
                            <td>
                                Till the child has completely recovered
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Measles
                            </td>
                            <td>
                                Two weeks after the rash disappears
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mumps
                            </td>
                            <td>
                                Until the swelling has gone
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Whooping Cough
                            </td>
                            <td>
                                Till the doctor certifies
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Hepatitis
                            </td>
                            <td>
                                Till the doctor certifies
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <ul>
                    <li>
                        Parents will be promptly informed in the event of serious illness or emergencies and may be
                        requested to come to school to take their ward home, if necessary.
                    </li>
                    <li>
                        Repeated absence without notice or explained absence without written application for more than
                        15 consecutive days renders the student liable to have her/his name struck off the rolls.
                    </li>
                    <li>
                        All students are expected to attend school on the first day following the vacations.
                    </li>
                    <li>
                        It is compulsory for students to achieve 75% attendance in each term in order to be eligible to
                        take the end-of-term assessment. This stipulation can only be relaxed on genuine medical grounds,
                        at the sole discretion of the Headmaster.
                    </li>
                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 academ">
                <h4>Behavior and Discipline:</h4><br/>
                <ul>
                    <li>
                        Students should be polite and courteous at all times.
                        </li><li> Students should greet the teachers whenever and wherever they meet them.
                        </li><li> Running, playing and shouting inside the class room / in the corridor is forbidden.
                        </li><li> Students are not permitted to carry any electronic gadgets / video games to school.
                        </li><li> Children should reach the assembly area promptly, silently and in a line after the bell rings.
                        </li><li> Changing of classroom between periods should be done silently and in an orderly manner.
                        </li><li> ..
                        </li><li> Students are advised not to buy anything, especially eatables from street vendors.
                        </li><li> They should not accept undue favour from any stranger either in the form of a gift or a ride on
                        their vehicle. They should never hesitate to say ‘No’ when asked or tempted to do anything that they
                        know to be wrong.
                        </li><li> Lending or borrowing of money and other articles is not permitted.
                        </li><li> No books, other than text book and library books, magazines or money is to be brought to school
                        without the Headmaster’s permission.
                        </li><li> It is expected that the juniors should show all respect to their seniors.
                        </li><li> Parents and guardians must not visit their wards or teachers in the classrooms without the
                        Headmaster’s permission.
                        </li><li> Parents and guardians of all students should visit the school on the scheduled day to note the
                        progress of their ward. This is compulsory.
                        </li><li> On birthdays children are not permitted to come in colour dress. They will be permitted to
                        distribute chocolates.
                        </li><li> Students are not permitted to bring mobile phones to school. Strict action will be taken against
                        any child found in possession of a mobile phone.
                        </li><li> The school reserves the right to dismiss a student whose behaviour is unsatisfactory or whose
                        conduct is harmful to other students.
                        </li><li> Bullying and the use of foul language are punishable offences, whether in or out of school.
                        Students found using the same will be expelled.
                        </li><li> “Bullying is strictly prohibited inside the school premises and no such act will go unnoticed or
                        unpunished”.
                        </li><li> Students are not allowed to bring any weapons or sharp instruments such as blades, knives,
                        paper – scalpels, scissors etc. to school.
                        </li><li> Students are prohibited from bringing any publication, reference books, CD or other storage
                        devices like floppies, pen drives or i-pods, not relevant to academic pursuits. Violation may result in
                        suspension.
                        </li><li> Bringing mobile phones, cameras, expensive pens, pencils, pencil box etc., to school is strictly
                        forbidden. Things will be confiscated apart from being suspended from school.
                        </li><li> It is mandatory for all students, unless instructed otherwise to be present for festivals and
                        functions celebrated in and outside the school.
                        </li><li> STUDENTS SHOULD BE PROUD OF THEIR SCHOOL AND FEEL HONOURED IN SINGING
                        THE NATIONAL ANTHEM with pride.
                    </li>
                </ul>
                <br/>
            </div>
        </div>
    </div>
</div>
<!-- // Academics -->
