﻿
@{
    ViewBag.Title = "ApplyForAdmission";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<style type="text/css">
    .addmis h4 {
        color: #ff4f81;
    }
</style>


<!-- apply for admission -->
<div class="agile-about w3ls-section" id="about">
    <div class="container">
        <h3 class="heading-agileinfo">Apply for Admission<span></span></h3>
        <div class="agileits-about-grid">
            @*<div class="col-lg-offset-1">
                    <h3>Admission:</h3>
                    <p>

                    </p>
                </div>
                <br />*@
            <div class="col-lg-offset-1 addmis">
                <h4>Registration:</h4><br />
                <ul>
                    <li>Registration for the next academic year is done only from April 1st week every year.</li>
                    <li>Registration carries no guarantee of admission. An attested copy of Birth Certificate and Second</li>

                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 addmis">
                <h4>Admission Process:</h4><br/>
                <ul>
                    <li>
                        Students are normally admitted only at the end of May or in the beginning of June as academicyear begins in June.
                    </li>
                    <li>
                        Admission for all classes will depend upon the availability of seats.
                    </li>

                    <li>
                        Students have to appear for an assessment in Tamil, English and Mathematics and Science – Std. VI – IX
                    </li>

                </ul>
            </div>
            <br />
            <div class="col-lg-offset-1 addmis">
                <h4>Admission Form:</h4><br/>
                <ul>
                    <li>
                        Application form (Offline or in person) and prospectus can be collected free of cost for Pre KG –Std IX.
                    </li>

                    <li>
                        Downloaded application form can also be submitted at AVS High School, Puliangudi and the same should be sent to:
                        The Headmaster
                        AVS High School,
                        Puliangudi-627855,
                        Tenkasi District,Tamilnadu, India
                    </li>
                    <li>
                        To download the application form <a style="text-decoration:underline;color:red" href="~/Files/Avs School Application Form.pdf" target="_blank"> Click Here</a> Documents required along with the filled in application form
                    </li>
                    <li>
                        Attested copy of Birth Certificate. (Original to be produced at the time of admission)
                    </li>
                    <li>
                        2 passport size photographs
                    </li>
                    <li>
                        Copy of Aadhaar Card.
                    </li>
                    <li>
                        Copy of Community Certificate if available
                    </li>
                    <li>
                        Copy of bank pass book in the name of candidate if available Documents required at the time of admission
                    </li>
                    <li>
                        Transfer certificate (original-countersigned)
                    </li>
                    <li>
                        Annual Mark statement from previous school
                    </li>
                    <li>
                        Progress Report Card of the previous academic year if available.
                    </li>
                    <li>
                        Character certificate from the school attended last.
                    </li>
                    <li>
                        Migration Certificate if from other states.
                    </li>

                </ul>

            </div>
            <br />
            <div class="col-lg-offset-1 addmis">
                <h4>Steps for Admission:</h4><br/>
                <ul>
                    <li>
                        Registration in person or through mail (from 1st week of April)
                    </li>
                    <li>
                        Collection/Downloading of Application form
                    </li>
                    <li>
                        Submission of Application form along with required documents
                    </li>
                    <li>
                        Appearance for Assessment
                    </li>
                    <li>
                        Interview for qualified candidates
                    </li>
                    <li>
                        Declaration of selected students
                    </li>
                    <li>
                        Admission
                    </li>
                    <li>
                        Receipt of Books and notebooks
                    </li>


                </ul>
                <br />

            </div>

        </div>
    </div>
</div>
<!-- // apply for admission  -->
