﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <h3 class="heading-agileinfo">Contact Us<span>Feel free to share your feedback</span></h3>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-4 agile_info_mail_img_info">
                <div class="address-grid">
                    <h4>Contact <span>Info</span></h4>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Telephone </p><span>(04636) 290654</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Mail </p><a href="mailto:avshighschool@gmail.com">avshighschool@gmail.com </a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Location</p><span>69, North Car Street, PULIANGUDI 627855, Kadayanallur Taluk, Tenkasi District, Tamilnadu.</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agileits_w3layouts_nav_right contact">
                        <div class="social two">
                            <ul>
                                <li><a href="https://www.facebook.com/AVSHigh-School-Puliangudi-184662071566752" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-rss"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 agile_info_mail_img">

            </div>
            <div class="clearfix"> </div>
            <div class="w3layouts_mail_grid">
                <form action="#" method="post">
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <input type="text" name="Telephone" placeholder="Telephone" required="">
                        <input type="text" name="Subject" placeholder="Subject" required="">
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <textarea name="Message" placeholder="Message..." required=""></textarea>
                        <input type="submit" value="Submit">
                    </div>
                    <div class="clearfix"> </div>

                </form>
            </div>


        </div>

    </div>
</div>
<!-- //mid-services -->
<!-- /map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13121.036706549232!2d77.39304575532269!3d9.186612897375007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0690361aab3035%3A0x8da28c5f43b63579!2sA%20V%20S%20High%20School!5e0!3m2!1sen!2sin!4v1620281798132!5m2!1sen!2sin"
            style="border:0"></iframe>

    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13121.036706549232!2d77.39304575532269!3d9.186612897375007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0690361aab3035%3A0x8da28c5f43b63579!2sA%20V%20S%20High%20School!5e0!3m2!1sen!2sin!4v1620281798132!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>*@

</div>
<!-- //map -->
<!-- //inner_content -->
