﻿
@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<!-- facilities -->


<div class="news">

    <div class="container">
        <h2 class="heading-agileinfo">Facilities<span></span></h2>

        <div class="news-agileinfo">
            <div class="news-w3row">
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/infrastructure.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Infrastructure</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids news-grids-mdl">
                    <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                        <img src="~/images/img/facilities/library.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Library</a></h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/canteen.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Canteen</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids news-grids-mdl">
                    <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                        <img src="~/images/img/facilities/transportation.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Transportation</a></h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/smart class.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Smart Class / Digital Class</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids news-grids-mdl">
                    <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                        <img src="~/images/img/facilities/sports.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Sports</a></h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/lab.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Labs</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids news-grids-mdl">
                    <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                        <img src="~/images/img/facilities/play ground.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Play Ground</a></h5>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="wthree-news-grids">
                    <div class="col-md-5 col-xs-5 datew3-agileits">
                        <img src="~/images/img/facilities/co curricular.jpg" class="img-responsive" height="400" width="400" alt="" />
                    </div>
                    <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                        <h5><a href="#" data-toggle="modal" data-target="#myModal">Co-Curricular</a></h5>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>



    </div>

</div>
<!-- //facilities -->
