﻿
@{
    ViewBag.Title = "getnewsList";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<div class="news">
    <div class="container">
        <h2 class="heading-agileinfo">News & Events<span></span></h2>
        @foreach (var item in ViewBag.data)
        {
            int i = 2;
            <div class="news-agileinfo">
                <div class="news-w3row">
                    @if (i % 2 == 0)
                    {

                        <div class="wthree-news-grids">
                            <div class="col-md-5 col-xs-5 datew3-agileits">
                                <img src="@item.NEWS_IMAGE" class="img-responsive" height="400" width="400" alt="" />
                            </div>
                            <div class="col-md-7 col-xs-7 datew3-agileits-info ">
                                <h5><a href="#" data-toggle="modal" data-target="#myModal">@item.TITLE</a></h5>
                                <h6>@item.NEWS_DATE.ToString("dd/MM/yyyy")</h6>
                                <p>@item.DESCRIP</p>
                            </div>

                            <div class="clearfix"> </div>
                        </div>

                    }

                    @if (i % 2 == 1)
                    {


                        <div class="wthree-news-grids news-grids-mdl">
                            <div class="col-md-5 col-xs-5 datew3-agileits datew3-agileits-fltrt">
                                <img src="@item.NEWS_IMAGE" class="img-responsive" height="400" width="400" alt="" />
                            </div>
                            <div class="col-md-7 col-xs-7 datew3-agileits-info datew3-agileits-info-fltlft">
                                <h5><a href="#" data-toggle="modal" data-target="#myModal">@item.TITLE</a></h5>
                                <h6>@item.NEWS_DATE.ToString("dd/MM/yyyy")</h6>
                                <p>@item.DESCRIP</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }
                    <div class="clearfix"> </div>
                </div>

            </div>
            @*@i= i + 1;*@
        }

       
    </div>

</div>
